button
{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    margin-top: 0;
    border-radius: 10px;
    background-color: green;
    color: white;
    padding: 20px;
    border: 0;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body hr
{
    color: aqua;
}